In [1]:
import matplotlib  
import pandas as pd

In [2]:
with open("weather.csv","r")as weather:
    print(weather.read())

Day,Temperature ,Wind Speed,Event
01/01/2018,35,320,Rainy
02/01/2018,28,123,cloud
03/01/2018,26,156,Hot
04/01/2018,29,174,not available
05/01/2018,30,185,Rainy
06/01/2018,31,169,cloud
07/01/2018,32,245,Hot
08/01/2018,35,123,not available
09/01/2018,40,156,cloud
10/01/2018,22,147,Hot
11/01/2018,35,563,not available
12/01/2018,28,156,cloud
13/01/2018,24,412,Hot
14/01/2018,26,457,Rainy
01/02/2018,32,423,cloud
02/02/2018,35,156,Hot
03/02/2018,36,148,not available
04/02/2018,37,175,not available
05/02/2018,35,245,Rainy
06/02/2018,22,265,Hot
07/02/2018,25,245,Hot
08/02/2018,29,231,not available
09/02/2018,30,269,Hot
10/02/2018,32,269,Rainy
11/02/2018,32,247,Rainy
01/03/2018,31,258,Rainy
02/03/2018,41,265,Rainy
03/03/2018,42,236,Hot
04/03/2018,43,254,Hot
05/03/2018,25,258,cloud
06/03/2018,28,236,not available
07/03/2018,21,254,
08/03/2018,20,245,Rainy
09/03/2018,35,285,cloud
10/03/2018,45,269,cloud
01/04/2018,40,247,Rainy
02/04/2018,41,321,cloud
03/04/2018,32,321,cloud
04/04/2018,35,351,cloud
05/04/2018,22,302,cloud
06/04/2018,21,306,not available
07/04/2018,23,385,not available
08/04/2018,24,300,not available
09/04/2018,35,213,not available
10/04/2018,22,265,not available

In [3]:
df = pd.read_csv("weather.csv")
df.head(45)

           Day  Temperature   Wind Speed           Event
0   01/01/2018            35         320           Rainy
1   02/01/2018            28         123           cloud
2   03/01/2018            26         156             Hot
3   04/01/2018            29         174  not available
4   05/01/2018            30         185           Rainy
5   06/01/2018            31         169           cloud
6   07/01/2018            32         245             Hot
7   08/01/2018            35         123  not available
8   09/01/2018            40         156           cloud
9   10/01/2018            22         147             Hot
10  11/01/2018            35         563  not available
11  12/01/2018            28         156           cloud
12  13/01/2018            24         412             Hot
13  14/01/2018            26         457           Rainy
14  01/02/2018            32         423           cloud
15  02/02/2018            35         156             Hot
16  03/02/2018            36         148  not available
17  04/02/2018            37         175  not available
18  05/02/2018            35         245           Rainy
19  06/02/2018            22         265             Hot
20  07/02/2018            25         245             Hot
21  08/02/2018            29         231  not available
22  09/02/2018            30         269             Hot
23  10/02/2018            32         269           Rainy
24  11/02/2018            32         247           Rainy
25  01/03/2018            31         258           Rainy
26  02/03/2018            41         265           Rainy
27  03/03/2018            42         236             Hot
28  04/03/2018            43         254             Hot
29  05/03/2018            25         258           cloud
30  06/03/2018            28         236  not available
31  07/03/2018            21         254             NaN
32  08/03/2018            20         245           Rainy
33  09/03/2018            35         285           cloud
34  10/03/2018            45         269           cloud
35  01/04/2018            40         247           Rainy
36  02/04/2018            41         321           cloud
37  03/04/2018            32         321           cloud
38  04/04/2018            35         351           cloud
39  05/04/2018            22         302           cloud
40  06/04/2018            21         306  not available
41  07/04/2018            23         385  not available
42  08/04/2018            24         300  not available
43  09/04/2018            35         213  not available
44  10/04/2018            22         265  not available

In [4]:
dir(df)

['Day',
 'Event',
 'T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_expand_axes',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_getitem_bool_array',
 '_getitem_frame',
 '_getitem_multilevel',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'timetuple',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_numpy',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [5]:
len(df)

45

In [6]:
df.shape

(45, 4)

In [7]:
df.iloc[[4],[2]]
#checking StaDs of a Specified date

   Wind Speed
4         185

In [8]:
df_short=df[0:10]

In [9]:
df_short.shape

(10, 4)

In [24]:
df_thin = df.loc[0:3,['Day','Wind Speed']]

KeyError: "None of [Index(['Day', 'Wind Speed'], dtype='object')] are in the [columns]"

In [25]:
df_thin.shape

(4, 2)

In [12]:
print(df_thin)

          Day  Wind Speed
0  01/01/2018         320
1  02/01/2018         123
2  03/01/2018         156
3  04/01/2018         174

In [13]:
df.columns

Index(['Day', 'Temperature ', 'Wind Speed', 'Event'], dtype='object')

In [14]:
df.loc[df["Event"] == "Rainy"]

           Day  Temperature   Wind Speed  Event
0   01/01/2018            35         320  Rainy
4   05/01/2018            30         185  Rainy
13  14/01/2018            26         457  Rainy
18  05/02/2018            35         245  Rainy
23  10/02/2018            32         269  Rainy
24  11/02/2018            32         247  Rainy
25  01/03/2018            31         258  Rainy
26  02/03/2018            41         265  Rainy
32  08/03/2018            20         245  Rainy
35  01/04/2018            40         247  Rainy

In [15]:
print(df["Day"])

0     01/01/2018
1     02/01/2018
2     03/01/2018
3     04/01/2018
4     05/01/2018
5     06/01/2018
6     07/01/2018
7     08/01/2018
8     09/01/2018
9     10/01/2018
10    11/01/2018
11    12/01/2018
12    13/01/2018
13    14/01/2018
14    01/02/2018
15    02/02/2018
16    03/02/2018
17    04/02/2018
18    05/02/2018
19    06/02/2018
20    07/02/2018
21    08/02/2018
22    09/02/2018
23    10/02/2018
24    11/02/2018
25    01/03/2018
26    02/03/2018
27    03/03/2018
28    04/03/2018
29    05/03/2018
30    06/03/2018
31    07/03/2018
32    08/03/2018
33    09/03/2018
34    10/03/2018
35    01/04/2018
36    02/04/2018
37    03/04/2018
38    04/04/2018
39    05/04/2018
40    06/04/2018
41    07/04/2018
42    08/04/2018
43    09/04/2018
44    10/04/2018
Name: Day, dtype: object

In [16]:
df.sort_values("Event", ascending=False)

           Day  Temperature   Wind Speed           Event
44  10/04/2018            22         265  not available
7   08/01/2018            35         123  not available
21  08/02/2018            29         231  not available
17  04/02/2018            37         175  not available
16  03/02/2018            36         148  not available
10  11/01/2018            35         563  not available
40  06/04/2018            21         306  not available
30  06/03/2018            28         236  not available
3   04/01/2018            29         174  not available
42  08/04/2018            24         300  not available
43  09/04/2018            35         213  not available
41  07/04/2018            23         385  not available
33  09/03/2018            35         285           cloud
1   02/01/2018            28         123           cloud
34  10/03/2018            45         269           cloud
36  02/04/2018            41         321           cloud
8   09/01/2018            40         156           cloud
37  03/04/2018            32         321           cloud
14  01/02/2018            32         423           cloud
29  05/03/2018            25         258           cloud
39  05/04/2018            22         302           cloud
11  12/01/2018            28         156           cloud
5   06/01/2018            31         169           cloud
38  04/04/2018            35         351           cloud
35  01/04/2018            40         247           Rainy
32  08/03/2018            20         245           Rainy
0   01/01/2018            35         320           Rainy
18  05/02/2018            35         245           Rainy
26  02/03/2018            41         265           Rainy
25  01/03/2018            31         258           Rainy
24  11/02/2018            32         247           Rainy
23  10/02/2018            32         269           Rainy
4   05/01/2018            30         185           Rainy
13  14/01/2018            26         457           Rainy
12  13/01/2018            24         412             Hot
2   03/01/2018            26         156             Hot
6   07/01/2018            32         245             Hot
9   10/01/2018            22         147             Hot
27  03/03/2018            42         236             Hot
15  02/02/2018            35         156             Hot
28  04/03/2018            43         254             Hot
19  06/02/2018            22         265             Hot
20  07/02/2018            25         245             Hot
22  09/02/2018            30         269             Hot
31  07/03/2018            21         254             NaN

In [17]:
df.describe()

       Temperature   Wind Speed
count     45.000000   45.000000
mean      30.933333  258.444444
std        6.712945   90.668616
min       20.000000  123.000000
25%       25.000000  185.000000
50%       31.000000  254.000000
75%       35.000000  300.000000
max       45.000000  563.000000

In [18]:
df.mean()

Temperature      30.933333
Wind Speed      258.444444
dtype: float64

In [19]:
df["Wind Speed"].mean()

258.44444444444446

In [20]:
df["Wind Speed"].describe()

count     45.000000
mean     258.444444
std       90.668616
min      123.000000
25%      185.000000
50%      254.000000
75%      300.000000
max      563.000000
Name: Wind Speed, dtype: float64

In [21]:
df.index

RangeIndex(start=0, stop=45, step=1)

In [22]:
df = pd.read_csv("weather.csv",header = None)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 4 columns):
0    46 non-null object
1    46 non-null object
2    46 non-null object
3    45 non-null object
dtypes: object(4)
memory usage: 1.5+ KB